body{
    background: radial-gradient(592px at 48.2% 50%, rgb(198, 237, 255) 0%, rgb(253, 220, 155) 74.6%);
}
div.card{
 display: block;
 margin: 100px auto;
 padding: 30px 40px 20px 40px;
 border-radius: 15px;
 box-shadow: rgb(0 0 0 / 20%) 0 5px 5px 0;
 background: #005689;
 max-width: 500px;
}
form{
    text-align: center;
    font-family: 'M PLUS 1p', sans-serif;
    
}
.search{
    box-shadow: rgb(0 0 0 / 20%) 0 3px 3px 0;
    border: none;
    border-radius: 15px;

}
.button {
    font-size: 13px;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 3px 0;
    background-color:  #007cb9;
    color:#d5eeff;
    border: none;
    border-radius: 15px;
}
.button:hover{
    color: #d5eeff;
    background-color: #2da3d6;;
}
.current-location-icon{
    font-size: 25px;
    color:  #007cb9;
    position: relative;
    top:5px;
}
.current-location-icon:hover{
    color: #2da3d6;
}
h1{ font-size: 40px;
    display: inline;
    padding: 0 auto;
    font-family: 'Yantramanav', sans-serif;
    color: #d5eeff;
}
.cloud-icon {
    font-size: 40px;
    position: relative;
    right: -20px;
    bottom: -10px;
    padding: 0 auto;
    
}
p.temperature-today{
    font-size: 13px;
    padding: 0;
    font-family: 'M PLUS 1p', sans-serif;
    color: #ffab5d;
}
p.precipitation-today{
    font-size: 12px;
    position: relative;
    right: -20px;
    font-family: 'M PLUS 1p', sans-serif;
    color: #ffab5d;
}
h2 {
    font-size: 50px;
    position: relative;
    left: 20px;
    font-family: 'Yantramanav', sans-serif;
    padding: 0;
    color:#d5eeff;
    
}
.degree{
    font-size: 16px;
    position: relative;
    top: -24px;
    left: -10px;
    text-decoration: none;
    color:#d5eeff;
}
h2.temperature-now{
    display: block;
    margin: 0 0 0 30px;
}
ul{
    display: block;
    margin: 0 60px;
    list-style: none;
    padding: 0;
    
}
li{
    padding: 10px 0;
    font-family: 'M PLUS 1p', sans-serif;
    color: #ffab5d;
    font-size: 15px;
}
.cloud-sun-icon {
    font-size: 15px;
}
h3{
    font-size: 12px;
    text-align: center;
    font-family: 'M PLUS 1p', sans-serif;
    color: #007cb9;
}
.fahrenheit {
    text-decoration:none;
    color:  #007cb9;
}
.fahrenheit:hover{
    color:#2da3d6;
}
.switch:hover {
    color:#2da3d6;
}
.openSource {
    text-align: center;
    position: relative;
    top: -90px;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 13px;
}
.code {
    text-decoration: none;
    color: #007cb9;
}
.code:hover{
    color:#2da3d6;
}